.bio-container{
    text-align: center;
}

.bio-image{
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
}

.bio-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio-buton{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.bio-button:hover{
    background-color: #4caf50;
}