body{
  background-color: ghostwhite;
  font-family: Arial, Helvetica, sans-serif;
}

.posts-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 20px;
  padding: 10px;
  background-color: deepskyblue;
  border-radius: 8px;
}

.post{
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: whitesmoke;
}

.post-title{
  font-size: 18px;
  color: whitesmoke;
}

.navigate-button{
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navigate-button:hover{
  background-color: green;
}

.post-form-container{
  background-color: ghostwhite;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 8px;
}


.input-button {
  padding: 10px 16px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-button:hover {
  background-color: #0056b3;
}