body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #228b22;
    color: #333;
}

h1{
    text-align: center;
    color: mediumturquoise;
    margin-top: 20px;
}

img{
    display: block;
    margin: 20px auto;
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
    height: 450px;
}

.container{
    text-align: center;
    padding: 20px;
}

.container img{
    width: 200px; /*scale down images */
    border-radius: 10px; /*Rounded corners */
    margin: 15px;
    border: 2px solid magenta;
}

.container img:hover{
    border-color: #4caf50;
}

iframe{
    display: block;
    margin: 20px auto;
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
    height: 450px;
}

footer{
    background-color: mediumpurple;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}